SUPABASE_URL=https://bfeojjyvryzgbnmyivus.supabase.co
SUPABASE_ANON_KEY=sb_publishable_YQa6PXQkEBgyYK1m5SI4FA_5YUhAtlU
SUPABASE_APP_TEXTS_TABLE=app_texts

# Gemini AI
GEMINI_API_KEY=AIzaSyBN5q-ndv00o91fGS0f_2VG_WfV0_1dHVE
GEMINI_MODEL=gemini-1.5-flash